/* products List Styles */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5em;
  margin: 2rem 0;
  padding: 0;
}

.li {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.li:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.li h3 {
  margin: 0;
  font-size: 1.4rem;
  padding: 1.2rem;
  color: green;
}



.li button {
  display: block;
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  color: white;
  background-color: #27ae60;
  border: none;
  border-radius: 0 0 12px 12px;
  cursor: pointer;
}




.cart-container {
  margin: 30px auto;
  padding: 25px;
  width: 80%;
  max-width: 650px;
  border: 1px solid #bdc3c7;
  border-radius: 15px;
  background-color: #ffffff;
}


.list {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ecf0f1;
}






